@import "tailwindcss";

:root {
  --bg-color: #e2e8f0;
  --text-color: #0f172a;
}

.dark {
  --bg-color: #0f172a;
  --text-color: #f8fafc;
}

* {
  
  box-sizing: border-box;
  
}


body {
  overflow-x: hidden;
  padding:0;
  margin:0;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Inter, sans-serif;
  transition: .3s;
}